<button class="btn btn-primary" type="submit"><%= link_to"ログアウト", "/users/sign_out", method: :delete %></button>
<button class="btn btn-primary" type="submit"><%= link_to"詳細設定", "/departmants/new", method: :get %></button>

<h3><%= @user.name %>のアカウントです</h3>




