<button class="btn btn-primary" type="submit"><%= link_to"ログアウト", "/users/sign_out", method: :delete %></button>

<h1>hello facili ?</h1>

<div class="radio">
  <label><input type="radio" name="depat_cord" value="1" checked=""> 臨床心理学科</label>
</div>
<div class="radio">
  <label><input type="radio" name="depat_cord" value="2" > 柔道整復学科</label>
</div>
<div class="radio">
  <label><input type="radio" name="depat_cord" value="3" > 言語聴覚学科</label>
</div>
<div class="radio">
  <label><input type="radio" name="depat_cord" value="4" > 作業療法学科</label>
</div>
<div class="radio">
  <label><input type="radio" name="depat_cord" value="5" > 理学療法学科</label>
</div>
<div class="radio">
  <label><input type="radio" name="depat_cord" value="6" > 健康栄養学科</label>
</div>